<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Farmacia.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6"/>
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6"/>
    <remove invariant="System.Data.SQLite"/><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/></DbProviderFactories>
  </system.data>
  <userSettings>
    <Farmacia.Properties.Settings>
      <setting name="IdGlobal" serializeAs="String">
        <value/>
      </setting>
      <setting name="Data" serializeAs="String">
        <value>BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "Venta" (
	"Id_Venta"	int NOT NULL,
	"Producto"	text NOT NULL,
	"Cantidad"	int NOT NULL,
	"Id_Vendedor"	int NOT NULL,
	"Fecha_de_Venta"	text NOT NULL,
	"Total_Vendido"	decimal(0 , 5) NOT NULL,
	FOREIGN KEY("Id_Vendedor") REFERENCES "Usuario"("Id"),
	PRIMARY KEY("Id_Venta")
);
CREATE TABLE IF NOT EXISTS "Inventario" (
	"Id"	int NOT NULL,
	"Producto"	text NOT NULL,
	"Tipo"	text NOT NULL,
	"Cantidad"	int NOT NULL,
	"Precio_Compra"	decimal(0 , 5) NOT NULL,
	"Precio_Unitario"	decimal(0 , 5) NOT NULL,
	"Fecha_Compra"	text NOT NULL,
	"Fecha_Vencimiento"	text NOT NULL,
	PRIMARY KEY("Id")
);
CREATE TABLE IF NOT EXISTS "Costos_TP" (
	"Id_Costo"	int NOT NULL,
	"Id_Producto"	int NOT NULL,
	"Total_CP"	decimal(0 , 5) NOT NULL,
	PRIMARY KEY("Id_Costo"),
	FOREIGN KEY("Id_Producto") REFERENCES "Inventario"("Id")
);
CREATE TABLE IF NOT EXISTS "Usuario" (
	"Id"	int NOT NULL,
	"Nombre"	text NOT NULL,
	"Apellido"	text NOT NULL,
	"Telefono"	int NOT NULL,
	"Direccion"	text NOT NULL,
	"Contrasena"	text NOT NULL,
	"Administrador"	bool NOT NULL,
	PRIMARY KEY("Id")
);
INSERT INTO "Usuario" VALUES (1,'root','root',0,'Nicaragua','dc76e9f0c0006e8f919e0c515c66dbba3982f785','true');
CREATE VIEW Costo 
As 
Select Id_Producto,Inventario.Producto as Producto, Inventario.Cantidad as Cantidad,Inventario.Fecha_Compra as Fecha_Compra, Costos_TP.Total_CP as Total_Costo, (Select (Select Precio_Unitario From Inventario Where Id=Id_Producto)*(Select Cantidad From Inventario Where Id=Id_Producto)) As Total_Venta From Costos_TP inner join Inventario on Inventario.Id = Costos_TP.Id_Producto;
COMMIT;</value>
      </setting>
    </Farmacia.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
